.header {
	background-color:#689DE4;
	color:white;
	text-align:center;
}

.leftContainer {
	width:20%;
	float:left;
}
.centerContainer {
	width:58%;
	float:left;
	padding-left:20px;
}
.rightContainer {
	width:20%;
	float:left;
}

.blockTitle {
	color:#689DE4;
}